/* _content/BlazorApp/Pages/Chat/Chat.razor.rz.scp.css */
.chat-container[b-39z8m5pucs] {
    display: flex;
}

.chat[b-39z8m5pucs] {
    min-height: calc(100vh);
    position: relative;
    flex: 1;
    --tw-bg-opacity: 1;
    background-color: rgba(52,53,65,var(--tw-bg-opacity));
}


.chat > .input-area[b-39z8m5pucs] {
    bottom: 10px;
    position: absolute;
    width: 80%;
    left: 10%;
    text-align: center;
}
/* _content/BlazorApp/Pages/Chat/components/ChatInput.razor.rz.scp.css */
.chat-input-group[b-oedo0oiu1u] {
    height: 50px;
}

.chat-input[b-oedo0oiu1u], [b-oedo0oiu1u] .chat-input {
    --tw-bg-opacity: 0.5;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    color: white;
    border: none;
    border-top-color: rgba(32, 33, 35, 0.5);
    border-right-color: rgba(32, 33, 35, 0.5);
    border-bottom-color: rgba(32, 33, 35, 0.5);
    border-left-color: rgba(32, 33, 35, 0.5);
    outline: none !important;
}

.chat-input:focus[b-oedo0oiu1u], [b-oedo0oiu1u] .chat-input:focus {
    --tw-bg-opacity: 0.5;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    color: white;
    border: none;
    border-top-color: rgba(32, 33, 35, 0.5);
    border-right-color: rgba(32, 33, 35, 0.5);
    border-bottom-color: rgba(32, 33, 35, 0.5);
    border-left-color: rgba(32, 33, 35, 0.5);
}

.chat-input-button[b-oedo0oiu1u] {
    --tw-bg-opacity: 0.5;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    border: none;
    color: white;
}

.chat-input-button:hover[b-oedo0oiu1u] {
    --tw-text-opacity: 1;
    color: rgba(172,172,190,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(32,33,35,var(--tw-bg-opacity));
}

.stop[b-oedo0oiu1u] {
    background-color: red;
    color: white;
    font-weight: bold;
}
/* _content/BlazorApp/Pages/Chat/components/Conversation.razor.rz.scp.css */
.conversation-area[b-aqnqqrq24m] {
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
}

.conversation-item[b-aqnqqrq24m] {
    padding: 10px;
    min-height: 40px;
    --tw-text-opacity: 1;
    color: rgba(236,236,241,var(--tw-text-opacity));
}

.conversation-area > .ai-reply[b-aqnqqrq24m] {
    --tw-bg-opacity: 1;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
}
/* _content/BlazorApp/Pages/Chat/components/ConversationContext.razor.rz.scp.css */
/* オリジナル
 .converation-context {
     color: white;
    flex: 0 0 30%;
    padding-right: 10px;
    padding-left: 10px;
    --tw-bg-opacity: 1;
    background-color: rgba(32,33,35,var(--tw-bg-opacity));
    overflow-y: hidden;
}
*/

.converation-context[b-27ls0nefli] {
    visibility:hidden;
    color: white;
    flex: 0 0 0%;
    padding-right: 0px;
    padding-left: 0px;
    --tw-bg-opacity: 1;
    background-color: rgba(32,33,35,var(--tw-bg-opacity));
    overflow-y: hidden;
}


.system-area[b-27ls0nefli], [b-27ls0nefli] .system-area {
    outline: none !important;
    width: 100%;
    min-height: 250px;
    --tw-bg-opacity: 1;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    color: white;
    border: none;
    resize: none;
}

.assistant-area[b-27ls0nefli], [b-27ls0nefli] .assistant-area {
    width: 100%;
    color: white;
    height: 100%;
    min-height: calc(100vh - 329px) !important;
    --tw-bg-opacity: 1;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    border: none;
    resize: none;
    outline: none !important;
}

.assistant-area:focus[b-27ls0nefli] {
    color: white;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    border: none;
    resize: none;
}


.system-area:focus[b-27ls0nefli] {
    --tw-bg-opacity: 1;
    background-color: rgba(68,70,84,var(--tw-bg-opacity));
    color: white;
    border: none;
    resize: none;
}
/* _content/BlazorApp/Pages/Chat/components/ErrorIndicator.razor.rz.scp.css */
.error-area[b-xu60iztkci] {
    background: #00000054;
    border-radius: 30px;
    margin: auto;
}

    .error-area .error-text[b-xu60iztkci] {
        color: red;
        font-size: 20px;
    }
/* _content/BlazorApp/Pages/Chat/components/LoadingIndicator.razor.rz.scp.css */
.lds-facebook[b-usaorw3gbo] {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
}

.lds-facebook div[b-usaorw3gbo] {
    display: inline-block;
    position: absolute;
    left: 4px;
    width: 8px;
    background: #fff;
    animation: lds-facebook-b-usaorw3gbo 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1)[b-usaorw3gbo] {
    left: 4px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2)[b-usaorw3gbo] {
    left: 16px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3)[b-usaorw3gbo] {
    left: 28px;
    animation-delay: 0;
}

@keyframes lds-facebook-b-usaorw3gbo {
    0% {
        top: 4px;
        height: 32px;
    }

    50%, 100% {
        top: 12px;
        height: 16px;
    }
}

.loading-area[b-usaorw3gbo] {
    background: #00000054;
    border-radius: 10px;
    width: 100px;
    margin: auto;
}

.loading-area .loading-text[b-usaorw3gbo] {
    color: white;
    font-size: 10px;
}

.loading-text[b-usaorw3gbo] {
    padding-top:7px;
}
/* _content/BlazorApp/Shared/MainLayout.razor.rz.scp.css */
.page[b-3dsd3z3yec] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-3dsd3z3yec] {
    flex: 1;
}

.sidebar[b-3dsd3z3yec] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-3dsd3z3yec] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-3dsd3z3yec]  a, .top-row .btn-link[b-3dsd3z3yec] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-3dsd3z3yec] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-3dsd3z3yec] {
        display: none;
    }

    .top-row.auth[b-3dsd3z3yec] {
        justify-content: space-between;
    }

    .top-row a[b-3dsd3z3yec], .top-row .btn-link[b-3dsd3z3yec] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-3dsd3z3yec] {
        flex-direction: row;
    }

    .sidebar[b-3dsd3z3yec] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-3dsd3z3yec] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-3dsd3z3yec], article[b-3dsd3z3yec] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorApp/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7cxxmz0cwl] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7cxxmz0cwl] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7cxxmz0cwl] {
    font-size: 1.1rem;
}

.oi[b-7cxxmz0cwl] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-7cxxmz0cwl] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7cxxmz0cwl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7cxxmz0cwl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7cxxmz0cwl]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-7cxxmz0cwl]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-7cxxmz0cwl]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7cxxmz0cwl] {
        display: none;
    }

    .collapse[b-7cxxmz0cwl] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
