.chat-input-group[b-81jt8xc77k] {
    height: 50px;
}

.chat-input[b-81jt8xc77k], [b-81jt8xc77k] .chat-input {
    --tw-bg-opacity: 0.5;
    background-color: rgba(193,195,210,var(--tw-bg-opacity));
    color: black;
    border: none;
    border-top-color: rgba(230, 230, 230, 0.5);
    border-right-color: rgba(230, 230, 230, 0.5);
    border-bottom-color: rgba(230, 230, 230, 0.5);
    border-left-color: rgba(230, 230, 230, 0.5);
    outline: none !important;
}

.chat-input:focus[b-81jt8xc77k], [b-81jt8xc77k] .chat-input:focus {
    --tw-bg-opacity: 0.5;
    background-color: rgba(193,195,210,var(--tw-bg-opacity));
    color: black;
    border: none;
    border-top-color: rgba(230, 230, 230, 0.5);
    border-right-color: rgba(230, 230, 230, 0.5);
    border-bottom-color: rgba(230, 230, 230, 0.5);
    border-left-color: rgba(230, 230, 230, 0.5);
}

.chat-input-button[b-81jt8xc77k] {
    --tw-bg-opacity: 0.5;
    background-color: rgba(193,195,210,var(--tw-bg-opacity));
    border: none;
    color: black;
}

    .chat-input-button:hover[b-81jt8xc77k] {
        --tw-text-opacity: 1;
        color: rgba(70,70,80,var(--tw-text-opacity));
        --tw-bg-opacity: 1;
        background-color: rgba(230, 230, 230,var(--tw-bg-opacity));
    }

.stop[b-81jt8xc77k] {
    background-color: red;
    color: black;
    font-weight: bold;
}
