.chat-container {
    display: flex;
}

.chat {
    min-height: calc(100vh);
    position: relative;
    flex: 1;
    --tw-bg-opacity: 1;
    /* background-color: rgba(250,250,250,var(--tw-bg-opacity)); */
}


.chat > .input-area {
    bottom: 30px;
    position: absolute;
    width: 80%;
    left: 10%;
    text-align: center;
}
