@page
@model BlazorApp.Pages.ErrorModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">エラー.</h1>
            <h2 class="text-danger">リクエストの処理中にエラーが発生しました。</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>開発モード</h3>
            <p>
                <strong>Development</strong>環境に切り替えると、発生したエラーに関する詳細な情報が表示されます。
            </p>
            <p>
                <strong>開発環境は、デプロイされたアプリケーションに対して有効にするべきではありません。</strong>
                例外からエンドユーザーに機密情報を表示させることになりかねません。
                ローカルデバッグを行う場合は、<strong>ASPNETCORE_ENVIRONMENT</strong>環境変数を<strong>Development</strong>に設定し、<strong>Development</strong>環境を有効にします。
                をクリックし、アプリを再起動します。
            </p>
        </div>
    </div>
</body>

</html>
