@page "/HmChatGptInBrowserLink"

<PageTitle>Link</PageTitle>

<div style="padding:30px">
    <h1>Link</h1>

    <div class="list-group">
        <a href="https://xn--pckzexbx21r8q9b.net/?page=nobu_tool_hm_chatgpt_writing_apikey" target="black" class="list-group-item list-group-item-action"><span class="oi oi-external-link" aria-hidden="true"> </span> OpenAI APIキーの設定</a>
        <a href="https://xn--pckzexbx21r8q9b.net/?page=nobu_tool_hm_chatgpt_writing_account" target="black" class="list-group-item list-group-item-action"><span class="oi oi-external-link" aria-hidden="true"> </span> アカウント情報 ウォークスルー</a>
    </div>

</div>

<!--
<NavLink class="nav-link" href="HmChatGptInBrowserTextCompletion">
    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>ChatGPT版
</NavLink>

<NavLink class="nav-link" href="HmChatGptInBrowserChat">
    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>Davinci版
</NavLink>
-->
