@page "/"

<PageTitle>HmChatGptInBrowser</PageTitle>

<NavLink class="nav-link" href="textCompletion">
    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>ChatGPT版
</NavLink>

<NavLink class="nav-link" href="chat">
    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>Davinci版
</NavLink>

