@page "/"

<PageTitle>Link</PageTitle>

<div class="list-group">
    <a href="https://xn--pckzexbx21r8q9b.net/?page=nobu_tool_hm_chatgpt_writing_apikey" class="list-group-item list-group-item-action">OpenAI APIキーの設定</a>
    <a href="https://xn--pckzexbx21r8q9b.net/?page=nobu_tool_hm_chatgpt_writing_account" class="list-group-item list-group-item-action">アカウント情報 ウォークスルー</a>
</div>


<!--
<NavLink class="nav-link" href="textCompletion">
    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>ChatGPT版
</NavLink>

<NavLink class="nav-link" href="chat">
    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>Davinci版
</NavLink>
-->
