@page "/HmChatGptInBrowserTextCompletion"

<PageTitle>Text Completion</PageTitle>

@using HmChatGptInBrowser.Data
@using OpenAI.Net
@inject IOpenAIService OpenAIService

<div class="content px-4">
<!-- p>Stream callbacks : @loopCount</! -->

<EditForm Model="@searchModel" OnValidSubmit="@SearchText">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">プロンプト</label>
        <InputText id="name" @bind-Value="searchModel.SearchText" class="form-control" />
        <!-- div id="emailHelp" class="form-text">問い合わせ内容</! -->
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">No. of results</label>
        <InputNumber id="noOfResults" @bind-Value="searchModel.NoOfResults" class="form-control" />
        <div id="emailHelp" class="form-text">何件の結果を返すか</div>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Max Tokens</label>
        <InputNumber id="maxTokens" @bind-Value="searchModel.MaxTokens" class="form-control" />
        <div id="emailHelp" class="form-text">消費する最大トークンは、文章の長さに関係します（注：これはあなたのプロンプトを含みます）。</div>
    </div>


        <button type="submit" class="btn btn-primary">送信</button>
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>結果</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in results)
        {
            <tr>
                <td>@result</td>
            </tr>
        }
    </tbody>
</table>

</div>
@code {
    private SearchModel searchModel = new()
    {
        MaxTokens =2000,
        NoOfResults =1,
        SearchText = "",
    };
    private int loopCount = 0;
    private string[] results = new string[0];

    private async Task SearchText()
    {
        results = new string[searchModel.NoOfResults];

        await foreach (var result in OpenAIService.TextCompletion.GetStream(searchModel.SearchText, o =>
        {
            o.N = searchModel.NoOfResults;
            o.MaxTokens = searchModel.MaxTokens;
        }))
        {
            var index = result.Result!.Choices[0].Index;
            results[index] += result.Result.Choices[0].Text;

            loopCount++; // これがあることで同期する。これがないと順番が崩れることがある。
            StateHasChanged();
        }
    }
   
}
