.lds-facebook[b-usaorw3gbo] {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div[b-usaorw3gbo] {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook-b-usaorw3gbo 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1)[b-usaorw3gbo] {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2)[b-usaorw3gbo] {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3)[b-usaorw3gbo] {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook-b-usaorw3gbo {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

.loading-area[b-usaorw3gbo] {
    background: #00000054;
    border-radius: 30px;
    width: 200px;
    margin: auto;
}

.loading-area .loading-text[b-usaorw3gbo] {
    color: white;
    font-size: 20px;
}
